<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Bebidas</title>
</h:head>
<h:body>
	<h:form>
		<p:messages id="messages" showDetail="true" autoUpdate="true"
			closable="true" />
		<h:panelGrid columns="2">
			<p:outputLabel value="Tipo da Bebida:" for="tiposDaBebida" />
			<p:selectOneMenu id="tiposDaBebida"
				value="#{produtoBean.bebida.tipoBebida}" required="true">
				<f:selectItems value="#{produtoBean.getTipoDeBebida()}"
					var="tipoBebida" itemValue="#{tipoBebida}"
					itemLabel="#{tipoBebida.descricao}" />
			</p:selectOneMenu>

			<p:outputLabel value="Nome:" for="nome" />
			<p:inputText id="nome" value="#{produtoBean.bebida.nome}"
				required="true" />

			<p:outputLabel value="Preço:" for="preco" />
			<p:inputText id="preco" value="#{produtoBean.bebida.preco}"
				required="true" />

			<p:commandButton value="Inserir"
				action="#{produtoBean.inserirBebida}"></p:commandButton>

			<p:commandButton value="Voltar" action="bebidaList" immediate="true" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>