<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Comanda</title>
</h:head>
<h:body>
	<h:form>
	<p:dataTable id="dadosDaTabela" var="comandas"
			value="#{comandaBean.listagemComanda}">
			<p:column headerText="Numero">
				<h:outputText value="#{comandas.numeroMesa}" />				
			</p:column>
			<p:column headerText="Status">
				<h:outputText value="#{comandas.status}" />				
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>