<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Página Teste</title>
</h:head>
<h:body>
	<h:form id="formIndex">
		<p:growl id="messages" />
		<p:slideMenu style="width:400px" >
			<p:submenu label="Cadastros" icon="ui-icon-refresh">
				<p:menuitem value="Bebidas" action="bebidaList"></p:menuitem>
				<p:menuitem value="Mesas" action="mesaList"></p:menuitem>
				<p:menuitem value="Porcoes" action="porcaoList"></p:menuitem>
			</p:submenu>
			<p:submenu label="Relatórios" icon="ui-icon-refresh">
				<p:menuitem value="Produtos" action="bebidaList"></p:menuitem>
				<p:separator />
			</p:submenu>
		</p:slideMenu>
	</h:form>
</h:body>
</html>