<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Mesas</title>
</h:head>
<h:body>
	<h:form>
		<p:messages id="messages" showDetail="true" autoUpdate="true"
			closable="true" />
		<h:panelGrid columns="2">
			<p:outputLabel value="Numero:" />
			<p:inputText id="numero" value="#{mesaBean.mesa.numeroMesa}"
				required="true"></p:inputText>
			<p:commandButton value="Inserir" action="#{mesaBean.inserirMesa}"></p:commandButton>
			<p:commandButton value="Voltar" action="mesaList" immediate="true" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>