<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro de Porcao</title>
</h:head>
<h:body>
	<h1>Lista de Porcao</h1>
	<h:form>
		<p:messages id="messages" showDetail="true" autoUpdate="true"
			closable="true" />
		<p:commandButton value="Cadastrar" action="porcao" />
		<p:commandButton value="Voltar" action="index" />
		<p:fieldset>
			<p:outputLabel value="Nome:" />
			<p:inputText id="nomeDePesquisa" value="#{produtoBean.nome}" />
			<p:commandButton value="Pesquisar"
				actionListener="#{produtoBean.pesquisarPorcao()}"
				update="dadosDaTabela" />
		</p:fieldset>
		<p:dataTable id="dadosDaTabela" var="porcoes"
			value="#{produtoBean.listagemPorcoes}">
			<p:column headerText="Nome">
				<h:outputText value="#{porcoes.nome}" />
			</p:column>
			<p:column headerText="Preço">
				<h:outputText value="#{porcoes.preco}" />
			</p:column>
			<p:column headerText="Tipo">
				<h:outputText value="#{porcoes.tipoDePorcao}" />
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>